
<header class="header">
    <div class="header_title"><a href="/">γ“γ©γ‚‚δ½ε“δΏε­η®±</a></div>
    <div class="header_right">
        <div class="top_back"><a href="/">top page</a></div>
    </div>
</header>

<div class="contents">
    <div class="new_art_box">
         <div class="box_title">πΌ<%= @name %>γ®δ½ε“ι›†πΌ</div>
         <div class="art_new">
           <%= link_to "δ½ε“ η™»ι² γƒγ‚Ώγƒ³", new_user_art_path(@user.id) %>
         </div>
    </div>
    
    <div class="boxs">
        <% @arts.each do |art| %>
        <div class="art_box">
            <div class="art_left">
                <div class="left_title">
                <%= art.title %>
                </div>
                <div class="left_grate">
                <%= art.grate %>εΉ΄η”γ®δ½ε“
                </div>
                <div class="left_content">
                <%= art.content %>
                </div>
                <!--<div class="left_btn">-->
                <!--    <div class="btn_edit">-->
                <!--         <%= link_to "η·¨ι›†", edit_user_art_path(:user_id) %>-->
                <!--    </div>-->
                <!--    <div class="btn_delete">-->
                <!--         <%= link_to "ε‰ι™¤", "/users/#{:user_id}/arts", method: :delete %>-->
                <!--    </div>-->
                <!--</div>-->
            </div>
            <div class="art_right">
                <%= image_tag art.image %>
            </div>
            
        </div>
        <% end %>
    </div>
    
</div>