<header class="header">
    <div class="header_title"><a href="/">こども作品保存箱</a></div>
    <div class="header_right">
        <div class="top_back"><a href="/">top page</a></div>
    </div>
</header>


<div class="container">
    <div class="art_container">
        <h2 class="sub_title">
    <%= "#{@name}の作品編集" %>
        </h2>
        <%= form_with(model: [@user, @art], local: true) do |form| %>
          <%= form.text_field :title, placeholder: "タイトル", class: "art_title" %><br>
          <%= form.file_field :image, class: "art_image" %><br>
          <div class="art_grate_grid">
           <%= form.text_field :grate, placeholder: "学年", class: "art_grate" %>年生　作成<br>
          </div>
          <%= form.text_area :content, placeholder: "コメント",class: "art_content" %><br>
          <div class="art_btn_grit">
            <%= form.submit "編集", class: "art_btn" %>
          </div>
    <% end %>
    </div>
</div>